@tailwind base;
@tailwind components;
@tailwind utilities;
*
{
  padding: 0;
  margin: 0;
}
/* Scrool bar */
::-webkit-scrollbar {
  width: 3px;
}


.back
{
  background-color:#F6F6F6;
}


.scroll-hide{
  scroll-behavior: smooth;
  transition:scroll-snap-type 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;
  animation-delay: 500ms;

}
.scroll-hide::-webkit-scrollbar
{
  width: 0px;
  background-color: transparent;
}